# Notebook Imports

In [23]:
import pandas as pd
import numpy as np

# Notebook Constants

In [85]:
TRAINING_DATA_FILE = 'SpamData/02_Training/train-data.txt'
TEST_DATA_FILE = 'SpamData/02_Training/test-data.txt'

TOKEN_SPAM_PROB_FILE = 'SpamData/03_Testing/prob-spam.txt'
TOKEN_HAM_PROB_FILE = 'SpamData/03_Testing/prob-nonspam.txt'
TOKEN_ALL_PROB_FILE = 'SpamData/03_Testing/prob-all-tokens.txt'

TEST_FEATURE_MATRIX = 'SpamData/03_Testing/test-features.txt'
TEST_TARGET_FILE = 'SpamData/03_Testing/test-target.txt'

VOCAB_SIZE = 2500

# Read & Load feature from .txt file into NumPy

In [25]:
sparse_train_data = np.loadtxt(TRAINING_DATA_FILE, delimiter=' ',dtype=int)

In [26]:
sparse_test_data = np.loadtxt(TEST_DATA_FILE,delimiter=' ',dtype=int)

In [27]:
sparse_train_data[:5]

array([[ 0,  2,  1,  1],
       [ 0,  3,  1,  2],
       [ 0,  4,  1,  1],
       [ 0,  7,  1,  3],
       [ 0, 11,  1,  1]])

In [28]:
sparse_train_data[-5:]

array([[5795, 2055,    0,    2],
       [5795, 2060,    0,    1],
       [5795, 2284,    0,    1],
       [5795, 2375,    0,    1],
       [5795, 2440,    0,    1]])

In [29]:
print('No of rows in our testing files:',sparse_test_data.shape[0])
print('No of rows in our training file:',sparse_train_data.shape[0])

No of rows in our testing files: 117601
No of rows in our training file: 258310

In [30]:
print('no of emails in trainig file:',np.unique(sparse_train_data[:,0]).size)

no of emails in trainig file: 4015

In [31]:
print('no if emails in tsting file:',np.unique(sparse_test_data[:,0]).size)

no if emails in tsting file: 1724

# Creating Empty DataFrame

In [32]:
column_names = ['DOC_ID'] + ['CATEGORY'] + list(range(0,VOCAB_SIZE))
column_names[:5]

['DOC_ID', 'CATEGORY', 0, 1, 2]

In [33]:
len(column_names)

2502

In [34]:
index_names = np.unique(sparse_train_data[:,0])
index_names

array([   0,    1,    2, ..., 5791, 5794, 5795])

In [37]:
full_train_data = pd.DataFrame(index=index_names,columns=column_names)
full_train_data.fillna(value=0, inplace=True)

In [38]:
full_train_data.head()

,DOC_ID,CATEGORY,0,1,2,3,4,5,6,7,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Create a full matrix

In [45]:
def make_full_matrx(sparse_matrix,nr_words,doc_idx=0,word_idx=1,cat_idx=2,freq_idx=3):
    
    column_names = ['DOC_ID'] + ['CATEGORY'] + list(range(0,VOCAB_SIZE))
    doc_id_names = np.unique(sparse_matrix[:,0])
    full_matrix = pd.DataFrame(index=doc_id_names,columns=column_names)
    full_matrix.fillna(value=0, inplace=True)
    
    for i in range(sparse_matrix.shape[0]):
        doc_nr = sparse_matrix[i][doc_idx]
        word_id = sparse_matrix[i][word_idx]
        label = sparse_matrix[i][cat_idx]
        occurrence = sparse_matrix[i][freq_idx]
        
        full_matrix.at[doc_nr,'DOC_ID'] = doc_nr
        full_matrix.at[doc_nr,'CATEGORY'] = label
        full_matrix.at[doc_nr,word_id] = occurrence
        
    full_matrix.set_index('DOC_ID',inplace=True)
    return full_matrix

In [46]:
%%time
full_train_data = make_full_matrx(sparse_train_data,VOCAB_SIZE)

Wall time: 19.7 s

In [47]:
full_train_data.head()

,CATEGORY,0,1,2,3,4,5,6,7,8,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,1,2,1,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
1,1,7,1,2,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,6,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6,0,0,2,4,0,3,13,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5,1,2,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
full_train_data.tail()

,CATEGORY,0,1,2,3,4,5,6,7,8,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
5789,0,3,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5790,0,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5791,0,3,1,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5794,0,1,1,1,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
5795,0,3,4,2,0,5,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0

# Training the Naive Bayes model
## calculating the probability of spam

In [50]:
full_train_data.CATEGORY.size

4015

In [51]:
full_train_data.CATEGORY.sum()

1250

In [52]:
prob_spam = full_train_data.CATEGORY.sum()/full_train_data.CATEGORY.size
print('probability of spam is:',prob_spam)

probability of spam is: 0.31133250311332505

# Total no. of words/tokens

In [53]:
full_train_features = full_train_data.loc[:,full_train_data.columns != 'CATEGORY']
full_train_features.head()

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,2,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,0,0,2,4,0,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
email_lengths = full_train_features.sum(axis=1)
email_lengths.shape

(4015,)

In [55]:
email_lengths[:5]

DOC_ID
0     87
1     53
2     40
3    182
4     43
dtype: int64

In [57]:
total_wc = email_lengths.sum()
total_wc

430991

# No. of Tokens in spam and ham emails

In [59]:
spam_lengths = email_lengths[full_train_data.CATEGORY==1]
spam_lengths.shape

(1250,)

In [61]:
spam_wc = spam_lengths.sum()
spam_wc

178652

In [62]:
ham_lengths = email_lengths[full_train_data.CATEGORY==0]
ham_lengths.shape

(2765,)

In [63]:
ham_wc = ham_lengths.sum()
ham_wc

252339

In [66]:
print('average no. of words in spam dataset {:.0f}'.format(spam_wc/spam_lengths.shape[0]))
print('average no. of words in ham emails {:.0f}'.format(ham_wc/ham_lengths.shape[0]))

average no. of words in spam dataset 143
average no. of words in ham emails 91

# Summing the tokens occuring in spam

In [67]:
full_train_features.shape

(4015, 2500)

In [68]:
train_spam_tokens = full_train_features.loc[full_train_data.CATEGORY == 1]
train_spam_tokens.head()

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,2,1,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,0,0,2,4,0,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,2,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
train_spam_tokens.shape

(1250, 2500)

In [70]:
summed_spam_tokens = train_spam_tokens.sum(axis=0) + 1
summed_spam_tokens.shape

(2500,)

In [71]:
summed_spam_tokens.tail()

2495     5
2496     6
2497    19
2498     4
2499    30
dtype: int64

# Summing the tokens occuring in Ham

In [72]:
train_ham_tokens = full_train_features.loc[full_train_data.CATEGORY==0]
summed_ham_tokens = train_ham_tokens.sum(axis=0) + 1

summed_ham_tokens.shape

In [74]:
summed_ham_tokens.tail()

2495    37
2496    25
2497    16
2498    30
2499     7
dtype: int64

# P(token|Spam) - probability that a token occurs given that the email is spam

In [75]:
prob_tokens_spam = summed_spam_tokens/(spam_wc + VOCAB_SIZE)
prob_tokens_spam[:5]

0    0.012018
1    0.005167
2    0.006735
3    0.011184
4    0.006685
dtype: float64

In [76]:
prob_tokens_spam.sum()

1.0

# P(token|ham) - probability that a token occurs given that the email is ham

In [77]:
prob_tokens_nonspam = summed_ham_tokens / (ham_wc + VOCAB_SIZE)
prob_tokens_nonspam[:5]

0    0.021516
1    0.010155
2    0.008021
3    0.003681
4    0.006322
dtype: float64

# P(token) - Probability that a token occurs

In [78]:
prob_tokens_all = full_train_features.sum(axis=0)/(total_wc)

In [79]:
prob_tokens_all.sum()

1.0

# Save the trained model

In [84]:
np.savetxt(TOKEN_SPAM_PROB_FILE,prob_tokens_spam)
np.savetxt(TOKEN_HAM_PROB_FILE,prob_tokens_nonspam)
np.savetxt(TOKEN_ALL_PROB_FILE,prob_tokens_all)

# Prepare Test Data

In [86]:
sparse_test_data.shape

(117601, 4)

In [87]:
%%time
full_test_data = make_full_matrx(sparse_test_data,nr_words=VOCAB_SIZE)

Wall time: 10.2 s

In [89]:
X_test = full_test_data.loc[:,full_test_data.columns != 'CATEGORY']
y_test = full_test_data.CATEGORY

In [91]:
np.savetxt(TEST_TARGET_FILE,y_test)
np.savetxt(TEST_FEATURE_MATRIX,X_test)